body {
    background-color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colorMode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-top: 20px;
}

.colorMode button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1s all;
}

.colorMode button:hover {
    background-color: rgb(235, 235, 235);
}

.colorMode button:active {
    background-color: rgb(200, 200, 200);
    margin-top: 2px;
}

.colorMode img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* Player body */
.player{
    position: relative;
    margin-top: 80px;
    width: 800px;
    height: 650px;
    background-color: black;
    opacity: 60%;
    border-radius: 15px 0 15px 15px;
}